:root {
  --background: #f4ede1;
  --text: #1e1d20;
  --second: #3c574f;
  --third: #802d0f;
  --fourth: #c5a981;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text); 
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px;
}

.carousel-section {
  background-color: var(--third);
  text-align: center;
  margin: 32px;
  padding: 1rem; 
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

