.cardContainer {
  border: 1px solid #c5a981;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s ease;
  flex: 0 0 auto; 
  margin: 0 10px; 
}

.cardContainer:hover {
  transform: scale(1.05);
}

.productImage {
  width: 100%;
  height: auto;
}

.productInfo {
  padding: 10px;
}

.productName {
  font-size: 1.2rem;
  margin: 5px 0;
}

.productPrice {
  color: #3c574f;
  font-weight: bold;
}
